.form-group {
  position: relative;
  margin-bottom: 5%;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

label {
  color: saddlebrown;
}

.form-input{
  width:100%;
  padding: 0 0 1% 0;
  font-style: italic;
  border: none;
  border-bottom: 1px solid #ebd5b3;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.form-title {
  color: saddlebrown;
  text-align: center;
}
