<div style="text-align: center">
  <h1>Профиль</h1>
  <h3>Квесты</h3>
</div>
<div style="min-width: 650px">
  <table>
    <thead>
    <tr>
      <th>Название</th>
      <th>Гильдия</th>
      <th>Описание</th>
      <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let quest of questsArr" (click)="openQuest(quest)">
      <td>{{quest.name}}</td>
      <td>{{quest.guildName}}</td>
      <td>{{quest.description}}</td>
      <td>{{quest.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
