<div id="form-container" class="block">
  <form #form="ngForm" (ngSubmit)="navigateMain(form)" class="form">
    <h2 class="form-title">Добро пожаловать</h2>
    <div class="form-group">
      <input placeholder=" " name="login" class="form-input" [(ngModel)]="login" required minlength="6" maxlength="20">
      <label class="form-label">Имя</label>
    </div>
    <div class="form-group">
      <input type="password" placeholder=" " name="password" class="form-input" [(ngModel)]="password" required
             minlength="6"
             maxlength="20">
      <label class="form-label">Пароль</label>
    </div>
    <button type="submit" class="form-button">Войти</button>
    <button (click)="navigateCreate()" class="form-button">Регистрация</button>
    <div style="margin-top: 5%">
      <small style="color: saddlebrown">{{valid}}</small>
      <span style="color: saddlebrown">{{authResult}}</span>
    </div>
  </form>
</div>
